#hero {
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 7rem;
        font-weight: $font-weight;
        line-height: normal;
    }

    a {
        font-size: 6rem;
        text-decoration: none;
        color: $color-text;
        
        &:hover {
            color: red;
        }
    }
}

// @media (min-width: 1024px) {
    
// }

// @media (max-width: 768px) {
// }

// @media (max-width: 480px) {
//     .hero {

//         h1 {
//             font-size: 20px;
//         }
//         a {
//             font-size: 15px;
//         }
//     }
// }

