#skills {
    margin: 10rem 0;
    padding: 8rem 2rem 0;

    .skill-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10rem auto;
    }

    .skills-row {
        display: flex;
        flex-direction: row;
        gap: 5rem;
        justify-content: center;
        align-items: center;
        position: relative;

        .skill {
            transition: transform 0.3s ease-in-out;

            img {
                height: 10rem;
                width: 10rem;
                object-fit: contain;
                transition: transform 0.3s ease-in-out;
            }

            &:hover {
                transform: scale(1.5);
            }

            &::after {
                content: attr(data-skill);
                color: $color-text;
                font-size: 2rem;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
                display: flex;
                justify-content: center;
                }

            &:hover::after {
                opacity: 1;
            }
        }
    }   
            
}
